<h1>Welcome#index</h1>
<%= link_to 'My Characters', controller: 'characters' %>
<%= link_to 'New character', new_character_path %>



<ul>

 <% if user_signed_in? %>
  <l1><%= link_to "Logout", destroy_user_session_path, method: :delete %> </l1>
  <% else %>
  <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
  <li> <%= link_to 'Login', new_user_session_path %> </li>
<% end %>

</ul>