

<div class="container theme-showcase" role="main">
<div class="panel panel-info">

<%= form_for :character, url: characters_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>

</div>
</div>